.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #1f2d40;
}

.nav-left a {
  font-size: 20px;
  font-weight: 600;
  color: #7ab8ff;
  text-decoration: none;
}

.nav-right a {
  margin-left: 20px;
  text-decoration: none;
  color: #e6ecf5;
  font-weight: 400;
}

.nav-right a:hover {
  color: #7ab8ff;
}
